<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <!-- Agrega la etiqueta script para incluir el archivo JS -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Página creada para el curso de Coderhouse</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'AppCoder/css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar" style="background-color: #e3f2fd;">
        <!--<nav class="navbar navbar-light bg-light static-top">-->
            <div class="container">
                <a class="navbar-brand" href="{% url 'index' %}">Inicio</a>
                <a class="navbar-brand" href="{% url 'post_list' %}">Blog económico</a>
                <a class="navbar-brand" href="{% url 'mensaje_list' %}">Intercambiá opiniones</a>
                <a class="navbar-brand" href="{% url 'clientes' %}">Carga de clientes</a>
                <a class="navbar-brand" href="{% url 'user_posts'%}">Mis Posts</a></li>
                <a class="btn btn-primary"
                    {% if user.is_authenticated %}
                        <a href="{% url 'Logout' %}">Cerrar sesión</a>
                    {% else %}
                        href="{% url 'Login' %}">Logueate</a>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <a class="btn btn-success"
                        <a href="{% url 'Editar_perfil' %}">Editá tus datos</a>
                    {% else %}
                        </a>
                    {% endif %}

            </div>
        </nav>
        
        {% block contenido_que_cambia %}
        {% endblock contenido_que_cambia %}

        <!-- Footer-->
        <footer class="footer bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                        <ul class="list-inline mb-2">
                            <li class="list-inline-item"><a href="quienes_somos">¿Quiénes somos?</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="mailto:damianerrea2@hotmail.com">Contactanos</a></li>
                            <li class="list-inline-item">⋅</li>
                        </ul>
                        <p class="text-muted small mb-4 mb-lg-0">&copy; DamianErreaWebsite. Todos los derechos reservados.</p>
                    </div>
                    <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item me-4">
                                <a href="https://www.facebook.com/damian.errea/"><i class="bi-facebook fs-3"></i></a>
                            </li>
                            <li class="list-inline-item me-4">
                                <a href="https://twitter.com/damianerrea?lang=es"><i class="bi-twitter fs-3"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://instagram.com/damian_errea?igshid=Mzc1MmZhNjY="><i class="bi-instagram fs-3"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
