{% extends "AppCoder/base.html" %}

{% load static %}

{% block contenido_que_cambia %}  
<!-- Masthead-->
<html>
        <header class="masthead">
            <div class="container position-relative">
                <div class="row justify-content-center">
                        <div class="text-center text-white">
                            <!-- Page heading-->
                            <h1 class="mb-5">Carga de clientes a la base</h1>
                        </div>
                </div>
            </div>
        </header>
        
{% if miFormulario.errors %}

<p style= "color: red;">La carga de los datos es incorrecta, corregir por favor<p>
                    
{% endif %}
                    
<form action="" method="POST">{% csrf_token %}
                        
    <table>
                    
        {{miFormulario.as_table}}
                    
    </table>
                    
<input class="btn btn-primary" type="submit", value="Enviar">
                    
</form>   

<br>

<a href="{% url 'leerClientes' %}"> 
    
    Mostrar listado de clientes
</a>


{% endblock contenido_que_cambia %}