<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Curso detalle</title>
    </head>
    <body>

        <p>Nombre del curso: <i>{{ curso.nombre }} </i></p>
        <p>Camada: <i> {{ curso.camada }} </i></p>
        <p>
            <a href="{% url 'List' %}">Regresar</a>
        </p>

    </body>
    </html>
