{% extends "AppCoder/base.html" %}

{% load static %}

{% block contenido_que_cambia %}  
<!-- Masthead-->
<style>
.mensaje {
    font-size: 24px; 
    text-align: center; 
}
.masthead h1 {
    max-width: 80%;
    margin: 0 auto;
}
</style>
{% if mensaje %}
    <div class="mensaje">{{ mensaje }}</div>
	{% endif %}
<html>
        <header class="masthead">
            <div class="container position-relative">
                <div class="row justify-content-center">
                        <div class="text-center text-white">
                            <h1 class="mb-5" style="max-width: 90%; width: 90%;">Bienvenidos a la consultora Errea y asociados</h1>
                        </div>
                    
                </div>
            </div>
        </header>       

{% endblock contenido_que_cambia %}