{% extends "AppCoder/base.html" %}

{% load static %}

{% block contenido_que_cambia %}  
<!-- Masthead-->
<html>
        <header class="masthead">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="text-center text-white">
                            <!-- Page heading-->
                            <h1 class="mb-5">Buscá el curso ingresando la camada </h1>
                            <!-- Signup form-->
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- * * SB Forms Contact Form * *-->
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- This form is pre-integrated with SB Forms.-->
                            <!-- To make this form functional, sign up at-->
                            <!-- https://startbootstrap.com/solution/contact-forms-->
                            <!-- to get an API token!-->
                            
                        </div>
                    </div>
                </div>
            </div>
        </header>
        
       
        
        <head>
            <title>Centrar formulario en la página</title>
            <style>
                .form-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 20vh;
                }
            </style>
        </head>
        <body>
            <div class="form-container">
                <form action="/buscar/" method="GET">
                    <input type="number" name="camada" id="camada">
                        
                    <input type="submit" value="Buscar cursos ingresando camada">
                </form>
            </div>
        </body>

{% endblock contenido_que_cambia %}