<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Borrar mensaje</title>
    </head>
    <body>

        <form method="post">{% csrf_token %}
            ¿Estás seguro que deseas borrar el mensaje? "{{ object }}"?
            <input type="submit" value="Sí, eliminar" />
        </form>

    </body>
    </html>
